---
import IconWhat from "./src/assets/brand-whatsapp.svg";
---


<div class="grid grid-cols-1 gap-4 md:grid-cols-5 md:grid-rows-5 md:h-[80vh] mt-20">
    <div class="md:col-span-4 md:row-span-3 bg-gradient-to-br from-yellow-500 to-amber-500 rounded-xl p-6 text-white shadow-lg">
        <h2 class="text-3xl lg:text-4xl text-[#2e1c0d] text-balance font-bold">Convierte tus fotos favoritas en objetos llenos de cariño ✨</h2>
        <p class="text-xl xl:text-2xl text-black/80 text-balance mt-6 ">Productos personalizados para guardar tus recuerdos en: imanes, tazas y mucho más. ¡Ideal para decorar tu espacio o sorprender a alguien especial!</p>
    </div> 
    
    <div class="md:col-span-2 md:row-span-5 md:col-start-1 md:row-start-4 rounded-xl text-white shadow-lg">
		<img src="src/assets/img/mascotas.webp" alt="Muestra1" class="w-full h-full object-cover rounded-xl" />
    </div>
    
    <div class="md:col-span-2 md:row-span-5 md:col-start-3 md:row-start-4 bg-gradient-to-br from-amber-900 to-[#4a3527] rounded-xl p-4 shadow-lg text-lg xl:text-2xl flex-col ">
		<div class="pb-4 font-bold text-[#f4be30]">¿Cómo funciona? 👀</div>
		<div >
			<ol class="list-decimal list-inside text-balance">
				<li class="mb-2">Elige tus fotos o diseños</li>
				<li class="mb-2">Elige el producto que desees</li>
				<li class="mb-2">¡Lo personalizamos y te lo enviamos!</li>
				<li>Disfruta tu pedido</li>
			</ol>
		</div>
    </div>
    
    <div class="md:row-span-5 md:col-start-5 md:row-start-1 rounded-xl text-white shadow-lg flex flex-col">
		<img src="src/assets/img/muestra-taza.webp" alt="Muestra2" class="w-full h-full object-cover rounded-xl" />
    </div>
    
    <div class="flex-col gap-2 md:col-start-5 md:row-start-6 md:md:row-span-3 bg-[#4d5a28] rounded-xl p-4  shadow-lg flex items-center justify-center text-[20px]">
		<div class="font-bold text-[#f4be30]">Escríbenos:</div>
		<div >
			
			<a 
				href="https://wa.me/+593968470750?text=Hola,%20vi%20tu%20sitio%20web%20y%20necesito%20más%20información.%0A¿Podría%20ayudarme?" 
				class="flex flex-row gap-2 items-center hover:scale-110 transition-all"
				target="_blank"
			>
				<IconWhat />
				WhatsApp
			</a>
		</div>
    </div>
</div>