---
import IconWhat from './../assets/brand-whatsapp.svg';
import JLogo from './../assets/logo.svg';

---

<div class="container mx-auto relative">
    <!-- Main hero section -->
	  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 pt-5 pb-10 sm:py-10">
		<div class="flex flex-col justify-center">
		  <h1 class="text-5xl md:text-4xl xl:text-7xl font-black text-amber-400 leading-none mb-6 text-pretty"> 
			<div class="flex gap-1">
        		<JLogo class={"rotate-45 w-12 h-12 md:w-9 md:h-9 xl:w-17 xl:h-17 fill-amber-400"}/>
				ecora tu vida,<br />
			</div>
			<span class="text-amber-100">con momentos imborrables ✨</span>
		  </h1>
		  <p class="text-xl md:text-sm lg:text-xl mb-8 max-w-md text-pretty">
			<!-- Productos personalizados para guardar tus recuerdos favoritos: imanes, tazas y mucho más. ¡Ideales para regalar o consentirte! -->
			En imanArt, creamos imanes decorativos y personalizados ideales para dar vida a tu nevera, oficina o cualquier superficie metálica. ¡Ideal para regalar o disfrutar en casa!
		  </p>
		  <div class="flex gap-4">
			<a href="#muestras" class="px-6 sm:px-8 py-3 bg-amber-400 text-amber-950 font-bold rounded-full hover:bg-amber-300 transition-colors flex  items-center gap-2 text-sm ">
			  Ver modelos
			  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
				<path d="M5 12h14M12 5l7 7-7 7" />
			  </svg>
			</a>
			<a 
				href="https://wa.me/593980215111?text=Hola,%20vi%20tu%20sitio%20web%20y%20quiero%20hacer%20un%20pedido.%0A¿Podría%20ayudarme?" 
				class="px-4 lg:px-8 py-3 border-2 gap-2 border-amber-400 text-amber-400 font-bold rounded-full hover:bg-amber-400/10 transition-colors flex items-center"
				target="_blank"
			>
				<IconWhat />
				WhatsApp
			</a>
		  </div>
		</div>
		
		<div class="relative lg:pl-30 xl:pl-40">
		  <div class="absolute -top-10 -right-15 w-40 h-40 bg-amber-400/30 rounded-full blur-2xl hidden md:block"></div>
		  <div class="absolute -bottom-10 left-25 w-40 h-40 bg-amber-400/30 rounded-full blur-2xl hidden md:block"></div>
		  
		  <!-- Coffee cup image -->
		  <div class="bg-amber-400 rounded-2xl p-6 rotate-3 shadow-xl max-w-60 lg:max-w-80 xl:max-w-sm mx-auto">
			<div class="bg-amber-950/10 p-6 rounded-xl">
			  <div class="aspect-[4/5] bg-amber-300 rounded-xl overflow-hidden relative shadow-lg">
				<div class="flex justify-center">
					<img loading="eager" src="/img/hero-img.webp" alt="MuestraIman" class="object-cover rounded-xl" />
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  
	  <!-- Scroll indicator -->
	  <div class="absolute pt-5 lg:pt-0 bottom-8 left-1/2 -translate-x-[50%] translate-y-[100%] flex flex-col items-center animate-bounce">
		<p class="mb-2 text-amber-400">Dale un vistazo</p>
		<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-amber-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
		  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
		</svg>
	  </div>
</div>


<!--
	#fcbf24 amarillo
	#4d5a28 verde 
	#2c1c11 cafe primario
	#4a3527 cafe sec
	#2e1c0d cafe letra
	#f4be30 amarillo letra
	#f6eede blanco letra
-->