---
import "photoswipe/style.css";
---

<div
  class="grid grid-cols-2 sm:grid-cols-4 max-w-6xl gap-6 mx-auto pt-6"
  id="gallery"
>
  {
    Array.from({ length: 8 }).map((_, i) => (
      <a
        class="rounded-lg overflow-hidden shadow-xl shadow-amber-400/10 hover:shadow-2xl hover:shadow-amber-500/75 hover:scale-105 transition-all duration-300"
        href={`/images/img-${i + 1}.webp`}
        target="_blank"
        data-pswp-width="800"
        data-pswp-height="800"
        data-cropped="true"
      >
        <img
          src={`/images/img-${i + 1}.webp`}
          alt=""
          loading="eager"
        />
      </a>
    ))
  }
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    showHideAnimationType: "zoom",
    secondaryZoomLevel: 1.2,
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
